<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css"/>
<!--    <link rel="stylesheet" type="text/css" href="/css/learn_to_program.css"/> -->
    <link rel="stylesheet" type="text/css" href="/css/gusto.css"/> 
  </head>
  <body id="the_body">
    <header></header>
    <div id="navbar">
    <nav class="container-fluid navbar navbar-inverse navbar-fixed-top">
      <a class="brand" href="#">Bingo Marketing</a>
      <ul class="nav" role="navigation" id="nav-bar-dropdown-menu">
	<li class="dropdown">	      
	  <a  href="#new" class="dropdown-toggle menu-header" role="button" data-toggle="dropdown">Products and Services &nbsp;</a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	    <li><a tabindex="-1" href="#">Landing Site Builder</a></li>
	  </ul>
	</li>
      </ul>
    </nav>
    </div>
    <div id="rootwizard" class="tabbable tabs-top span8 container-fluid">
      <ul class="pages nav nav-tabs nav-tabbable nav-pills"><li><a></a></li></ul>
      <div class="tab-content">
	<section class="tab-pane"></section>
      </div>
      <div id="nav-controls">
	<ul class="pager wizard">
	  <li class="previous first" style="display:none;"><a href="#">First</a></li>
	  <li class="previous"><a href="#">Previous</a></li>
	  <li class="next last" style="display:none;"><a href="#">Last</a></li>
	  <li class="next"><a href="#">Next</a></li>
	</ul>
      </div>
    </div>
      <div id="sidebar" role="complementary">
<section id="content">
      <div class="content">
        <hgroup>
  <h1>Programming, Motherfucker</h1>
  <h2>Do you speak it?</h2>
</hgroup>
<p>We are a community of motherfucking programmers who have been <strong>humiliated</strong> by software development methodologies for years.</p>
<p>We are tired of <em>XP</em>, <em>Scrum</em>, <em>Kanban</em>, <em>Waterfall</em>, <em>Software Craftsmanship</em> (aka <em>XP-Lite</em>) and anything else getting in the way of...<strong>Programming, Motherfucker</strong>.</p>
<p>We are tired of being told we're autistic idiots who need to be manipulated to work in a Forced Pair Programming chain gang without any time to be creative because none of the 10 managers on the project can do... <strong>Programming, Motherfucker</strong>.</p>
<p>We must destroy these methodologies that get in the way of...<strong>Programming, Motherfucker.</strong>
</p>
<div id="separator">* * * *</div>

<h2>Our Values</h2>

      <table cellpadding="10" border="1">
          <tbody><tr><th>They Claim To Value</th><th>They Really Value</th><th>We Fucking Do</th></tr>

          <tr><td>Individuals and interactions</td><td><em>Tons of billable hours</em></td><td><b>Programming, Motherfucker</b></td></tr>
          <tr><td>Working software</td><td><em>Tons of pointless tests</em></td><td><b>Programming, Motherfucker</b></td></tr>
          <tr><td>Customer collaboration</td><td><em>Bleeding clients dry</em></td><td><b>Programming, Motherfucker</b></td></tr>
          <tr><td>Responding to change</td><td><em>Instability and plausible deniability</em></td><td><b>Programming, Motherfucker</b></td></tr>
      </tbody></table>

      <p>
      We think the shit on the left, is really just the con in the middle, and that we
      really need to just do the thing on the right...<b>Programming, Motherfucker</b>.
      </p>

<div id="signed">
  <p>Signed,</p>
  <p>
  <em><a href="http://zedshaw.com">Zed A. Shaw</a></em><br><em>And The Programming Motherfuckers</em>
  </p>
</div>

      </div>
      <p class="credits">
  This bad ass website and T-shirt designed by
  <a href="http://codegram.com">
    <span>Codegram</span>
  </a>
</p>
    </section>
      </div>

    <footer></footer>
   <script data-main="/js/lib/main" src="/js/lib/require.js"></script> 
  </body>
</html>
