html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background: #db2e34;
  text-align: center;
  line-height: 1.5;
  font-family: "Trebuchet MS";
  color: white;
  font-size: 112.5%;
  position: relative;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: white;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
body p {
  margin: 0 0 1.5em;
}
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body a {
  text-decoration: underline;
  color: white;
}
body a:visited {
  color: white;
}
body a:focus {
  color: white;
}
body a:hover {
  color: white;
}
body a:active {
  color: white;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong, body dfn {
  font-weight: bold;
}
body em, body dfn {
  font-style: italic;
}
body sup, body sub {
  line-height: 0;
}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}
body dd {
  margin-left: 1.5em;
}
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;
}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
body tfoot {
  font-style: italic;
}
body caption {
  background: #eeeeee;
}
body .quiet {
  color: white;
}
body .loud {
  color: #dddddd;
}
body .clear {
  clear: both;
}
body .nowrap {
  white-space: nowrap;
}
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body .first {
  margin-left: 0;
  padding-left: 0;
}
body .last {
  margin-right: 0;
  padding-right: 0;
}
body .top {
  margin-top: 0;
  padding-top: 0;
}
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body .error a, body .alert a {
  color: #8a1f11;
}
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body .notice a {
  color: #514721;
}
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body .success a {
  color: #264409;
}
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
body .info a {
  color: #205791;
}
body .hide {
  display: none;
}
body .highlight {
  background: yellow;
}
body .added {
  background: #006600;
  color: white;
}
body .removed {
  background: #990000;
  color: white;
}

img#pistol {
  width: 35%;
  margin-top: 0px;
  position: fixed;
  bottom: 0px;
  z-index: 50;
  left: 0px;
}

#content {
  padding-left: 25%;
}

nav#menu {
  font-family: "DinnCondensed";
  z-index: 30;
  text-align: center;
  background: #a11c20;
  font-size: 1.4em;
  display: block;
  padding-left: 25%;
  margin: 20px auto;
}
nav#menu a {
  color: #e25a5e;
  text-decoration: none;
  text-shadow: #8b181c 1px -1px 0px;
  display: inline-block;
  margin: 5px 20px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
nav#menu a:hover, nav#menu a.selected {
  color: #f9dcdd;
}
nav#menu a:hover {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
nav#menu a.selected {
  color: white;
}

#content {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
  margin-top: 60px;
  padding-bottom: 20px;
  z-index: 100;
}
#content hgroup {
  padding: 10px;
}
#content .content {
  max-width: 600px;
  margin: 0px auto;
  padding: 10px;
}
#content h1, #content h2, #content h3 {
  font-family: "DinnCondensed";
  text-shadow: #8b181c 1px -1px 0px;
}
#content h1 {
  font-size: 3.5em;
  margin-bottom: 8px;
}
#content h2 {
  font-size: 2.8em;
  margin-bottom: 13px;
}
#content h3 {
  margin-bottom: 20px;
  font-size: 1.8em;
}
#content #separator {
  width: 100%;
  text-align: center;
  font-size: 40px;
  text-shadow: #8b181c 1px -1px 0px;
  font-family: "DinnCondensed";
}
#content ul {
  list-style-type: none;
}
#content ul li {
  margin: 5px 0px;
}
#content table th {
  text-align: center;
}
#content table td {
  text-align: center;
  border: 1px solid #ea8589;
}

#signed {
  margin-top: 50px;
  margin-bottom: 70px;
}
#signed img {
  margin-bottom: -50px;
  margin-top: -20px;
}
#signed p {
  margin-top: 0px;
  margin-bottom: 10px;
}

p.credits {
  margin-bottom: 50px;
  text-align: center;
  font-size: 0.8em;
  height: 22px;
  line-height: 22px;
}
p.credits a {
  width: 146px;
  height: 22px;
  background: url("codegram.png");
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
p.credits a span {
  display: none;
}
p.credits a:hover {
  opacity: 0.7;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
p.credits a img {
  width: 146px;
  height: 22px;
}

@media screen and (max-width: 768px) {
  body #content h1 {
    font-size: 2.8em;
  }
  body #content h2 {
    font-size: 2.2em;
  }
  body #wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  img#pistol {
    display: none;
  }

  body nav#menu {
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 1.2em;
  }

  body #content {
    margin-top: 40px;
    padding-left: 0px;
  }

  nav#menu {
    margin: 0px auto;
  }
}
@media screen and (max-width: 480px) {
  body #content {
    margin-top: 20px;
  }
  body #content h1 {
    font-size: 3.2em;
  }
  body #content h2 {
    font-size: 2.8em;
  }
  body #content {
    font-size: 0.8em;
  }
}
form input[type=text] {
  border: 1px solid #b71f25;
  padding: 10px;
  color: black;
  font-size: 1.1em;
  width: 300px;
}
form input[type=submit] {
  border: 1px solid #8b181c;
  padding: 10px;
  font-size: 1.1em;
  background: #a11c20;
  color: white;
  text-shadow: #8b181c 1px -1px 0px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
form input[type=submit]:hover {
  border: 1px solid #94191e;
  background: #b21f24;
}
form input[type=submit]:active {
  -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}
